*.iml
.gradle/
local.properties
.idea/
.idea/caches/deviceStreaming.xml
.DS_Store
build/
app/build/
/captures
.externalNativeBuild
.cxx
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
